<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>


    <%-include('./partials/dashboard-head.ejs');%>

</head>

<body class="bg-secondary">
    <%-include('./partials/dashboard-header.ejs');%>


        <!-- start setting box -->
        <%-include('./partials/sideslide.ejs');%>


            <!-- end setting box -->

            <!-- Start Dashboard Page  -->
            <div class="container home-stats text-center">
                <h1 class="text-white">لوحة التحكم</h1>

                <div class="row mt-15">
                    <div class="col-md-2">
                        <a href="personalInfo">
                            <div class="stat">


                                <h4>البيانات الشخصية</h4>

                            </div>
                        </a>
                    </div>
                    <div class="col-md-2">
                        <a href="experience">
                            <div class="stat">
                                <h4>الخبرات</h4>


                            </div>
                        </a>
                    </div>
                    <div class="col-md-2">
                        <a href="skills">
                            <div class="stat ">
                                <h4>المهارات</h4>

                            </div>
                        </a>
                    </div>
                    <div class="col-md-2">
                        <a href="qualification">
                            <div class="stat ">


                                <h3>المؤهلات</h3>


                            </div>
                    </div>
                    <div class="col-md-2">
                        <a href="courses">
                            <div class="stat">

                                <h3>الدورات التدريبية</h3>

                            </div>
                        </a>
                    </div>

                </div>
            </div>




</body>

</html>